@import "base/_normalize"
@import "base/_normalize-custom"
@import "components/_header"
@import "components/_footer"

*
  // border: 1px solid


*
  font-family: "微軟正黑體"
  color: #050505


.cd-container
  width: 85%
  margin: 0 auto

.cd-container::after
  /* clearfix */
  content: ''
  display: table
  clear: both




#cd-timeline
  position: relative
  padding: 2em 0
  margin-top: 3em
  margin-bottom: 3em

#cd-timeline::before
  content: ''
  position: absolute
  top: 0
  left: 10%
  height: 100%
  width: 4px
  background: #142733



.cd-timeline-block
  position: relative
  margin: 4em 0






.cd-timeline-img
  position: absolute
  top: 0
  left: 8.4%
  width: 40px
  height: 40px
  border-radius: 50%


.cd-timeline-img.cd-picture
  background: #142733



.cd-timeline-content
  position: relative
  left: 15%
  background: #d9e4ea
  border-radius: 3em
  margin-left: 0
  padding: 1.5em
  width: 80%
  box-sizing: border-box


.cd-timeline-content h1
  font-size: 25px
  color: #303e49



.cd-timeline-content p
  margin: 1em 0
  line-height: 1.6
