@import "base/_normalize"
@import "base/_normalize-custom"
@import "components/_footer"


$font_base_size: 10px
$max_with: 768px

@mixin size($w,$h)
  width: $w
  height: $h

/*....... 共用css.................................*/
*
  // border: 1px solid


%_container
  width: 90%
  margin: 0 auto
  max-width: 1140px
  // border: 3px solid red

.img_fluid
  z-index: 999
  // background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
.img_header
  height: 700px
  background-image: url("../img/background.png")
.img_footer
  height: 400px
  background-image: url("../img/footer.png")

._container
  @extend %_container
  padding: 30px 0
  z-index: 1
.slogan
  margin: 10px auto
  text-align: center
  font-size: 32px
  letter-spacing: 2px
  display: flex
  flex-direction: column
  a
   text-shadow: 0.01em 0.01em 0.5em white
//做Hot
.subtitle
  font-size: 20px
  position: relative
.slogan_bubble
  &:hover .bubble
    transition: opacity .5s, transform .5s
    opacity: 1
    transform: rotate(0deg)
//Hot
.bubble
  position: absolute
  padding: 10px
  color: #fff
  background: #075698
  border-radius: 50%
  font-size: 10px
  top: -38px
  // left: -10px
  opacity: 0
  transform: rotate(90deg)
  transition: opacity .5s, transform .5s
  &:after
    content: "\00a0"
    width: 0
    height: 0
    display: block
    border-style: solid
    border-width: 15px
    border-color: #075698 transparent transparent transparent
    position: absolute
    bottom: -19px
    left: 8px
.logo
  width: 180px
  height: 80px
  background-image: url("../img/logo.png")
  background-size: cover
/* ............................................... */
#wrapper
  //header脫離自己空間，讓banner上移
  header
    width: 100%
    top: 0
    left: 0
    position: absolute
    z-index: 99
    .header_container
      @extend %_container
      .row1
        display: flex
        margin-top: 10px
        .login
          margin-left: auto
          padding: 10px
          a
            padding: 5px
            font-weight: bold
          .cart_size
            font-size: 22px
          .prompt_size
            width: 160px
      .row2
        display: flex
        .nav_bar
          display: flex
          margin-left: auto
          nav
            display: flex
            argin-left: auto
            li
              display: flex
              align-items: center
              &:hover a
                border-bottom: 1px solid #ccdde7
              &:active a
                border-bottom: 1px solid #436275
              a
                padding: 15px 15px 10px 15px
                font-weight: bold
      .row3
        ._container_row3
          width: 80%
          margin: 0 auto
          // height: 300px
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          .buy
            padding: 10px
            margin: 10px auto
            background-color: black
            border: 1px solid
            transition-duration: .3s
            &:hover
              background-color: transparent
              a
                color: black
            a
              padding: 10px
              color: white


//................ content......

.content2_bgc
  background-image: url("../img/middle.png")
  // padding-top: 100px
  height: 500px
._container_box
  background-color: white
  display: flex
  justify-content: space-around
  align-items: center
  width: 70%
  margin: 0 auto
  // margin-top: 50px
  padding: 30px 0
  box-shadow: 0px 1px 4px 4px rgba(89, 88, 88,.1)
  .box
    width: 18%
    height: 180px
    .service_img
      width: 100%
      height: 70%
      background-size: contain
      background-repeat: no-repeat
      background-position: center
    .service_title
      width: 100%
      height: 30%
      display: flex
      align-items: center
      justify-content: center
    .service1
      background-image: url("../img/service1.png")
    .service2
      background-image: url("../img/service2.png")
    .service3
      background-image: url("../img/service3.png")
.box2
  width: 2px
  height: 150px
  border: 1px solid #2c2d2d
  //...................slider_container.........
.slider_container
  width: 70%
  height: auto
  // height: 500px
  margin: 0 auto 20px
  .slider_img
  .item
    // height: 10rem
    background: #eee
    padding: 1rem
.owl-stage-outer
  height: 200px
.owl-theme .owl-dots .owl-dot span
  background-color: #eee

.slick-prev:before, .slick-next:before
  color: pink


//................ footer......
footer
  background-color: #80afca
  // opacity: .9
  height: 400px
  .footer_container
    @extend %_container
    display: flex
    left: 0px
    bottom: 0px
    padding-top: 100px
    .footer_logo
      display: flex
      width: 20%
      justify-content: flex-start
      align-items: center

    .footer_info
      margin-left: 10%
      width: 60%
      display: flex
      .info_box
        width: 33.33%
        display: flex
        flex-direction: column
        margin: 20px 0px
        border-left: 1px solid
        a
          text-align: center
          padding: 5px
        .email_paper
          display: flex
          justify-content: center
          input
            margin: 1px
            width: 140px
          button
            background-color: black
            border: 1px solid
            a
              font-size: 14px
              color: white


// %item
//   display: inline-block
//   width: 100px
//   height: 100px
//   border: 1px solid black
//   background-color: green


// #app-index

//   .list
//     margin-bottom: 50px
//     .item
//       @extend %item
//       width: 150px
//       height: 150px

//       // @include respond-to('pad')
//       //   display: block


//       // @include respond-to('pc')
//       //   display: block
//   .banner
//     .item
//       @extend %item




