header .header_container {
  width: 90%;
  margin: 0 auto;
  max-width: 1140px; }

.logo {
  width: 180px;
  height: 80px;
  background-image: url("../img/logo.png");
  background-size: cover; }

header {
  background-color: #f2f7fa; }
  header .header_container .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .header_container .row1 .login {
      margin-left: auto;
      padding: 10px; }
      header .header_container .row1 .login a {
        padding: 5px;
        font-weight: bold; }
  header .header_container .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .header_container .row2 .nav_bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto; }
      header .header_container .row2 .nav_bar nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        argin-left: auto; }
        header .header_container .row2 .nav_bar nav li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          header .header_container .row2 .nav_bar nav li:hover a {
            border-bottom: 1px solid #ccdde7; }
          header .header_container .row2 .nav_bar nav li:active a {
            border-bottom: 1px solid #436275; }
          header .header_container .row2 .nav_bar nav li a {
            padding: 15px 15px 10px 15px;
            font-weight: bold; }
