<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js")
    link(rel="stylesheet", href="../css/Semantic/semantic.min.css")
    link(rel="stylesheet", href="../css/about.css")
  body
    #wrapper
      include ./shared/_header.pug
      section#cd-timeline.cd-container
        .cd-timeline-block
          .cd-timeline-img.cd-picture
          .cd-timeline-content
            h1 服務項目
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .cd-timeline-block
          .cd-timeline-img.cd-picture
          .cd-timeline-content
            h1 關於我們
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor in, saepe. Maxime voluptatem corporis incidunt magnam ex? Numquam tempora delectus iure, sint sed. Quidem odit itaque fugit laboriosam totam labore.

        .cd-timeline-block
          .cd-timeline-img.cd-picture
          .cd-timeline-content
            h1 成員介紹
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et perferendis corporis, at, id quae velit totam quam magnam reprehenderit dolorum fuga ab eum doloribus quisquam incidunt nam voluptate suscipit in!
      include ./shared/_footer.pug
    script(src="../js/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js")
    //- script(src="../js/join.js")
