<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet", href="../css/Semantic/semantic.min.css")
    link(rel="stylesheet", href="../css/buy_qu.css")

  body
    #wrapper
      include ./shared/_header.pug
      .mem_qu_container
        .left
          .left_li
            li
              a(href='../html/mem_qu.html') 會員常見問題
            li
              a(href='../html/buy_qu.html') 購物常見問題
        .right
          .right1
            .right_po
              .buy_problem 購物常見問題
              .buy_qa
                li
                  a(href='#q1') Q1.購物流程說明
                li
                  a(href='#q2') Q2.我想購買的商品已經缺貨，什麼時候會進貨呢？
                li
                  a(href='#q3') Q3. 如何查詢目前訂單的處理情況？
                li
                  a(href='#q4') Q4.如何計算「七天鑑賞期」？
          hr
          .right1
            .right_po
              a(name='q1') Q1. 購物流程說明
              | 			Fotos提供您簡單又安全的購物流程，親切易懂的指引式流程畫面，讓您充分享受便利的購物樂趣。
              br
              | 			第一次購物：註冊會員＞＞選擇商品＞＞加入購物車＞＞選擇結帳方式＞＞填寫正確會員資料＞＞ 完成購物
              p 非第一次購物：選擇商品＞＞輸入帳號密碼＞＞加入購物車＞＞選擇結帳方式＞＞ 完成購物
              font(color='#9d515c') ※ 提醒您，商品加入購物車但未結帳前，並無保留商品庫存功能，商品庫存分配將以結帳順序為依據。
          hr
          .right1
            .right_po
              a(name='q2') Q2. 我想購買的商品已經缺貨，什麼時候會進貨呢？
              | 			Fotos是個讓消費者可以以明信片環遊世界的網站，因此所有的商品皆為限量，不定時的會將新商品與舊商品更新、補貨，因此購物車按鈕呈現灰色，請消費者期待我們再次的相遇。
          hr
          .right1
            .right_po
              a(name='q3') Q3. 如何查詢目前訂單的處理情況？
              | 			請點選「登入」，輸入您的E-mail及密碼登入後，點選「會員中心」，即可查詢該訂單的處理狀態。
          hr
          .right1
            .right_po
              a(name='q4') Q4. 如何計算「七天鑑賞期」？
              | 			根據消費者保護法之規定，Fotos提供您享有商品到貨的七日鑑賞期權益，是由消費者完成簽收取件的隔日開始算起至第7天止（如您的收件地址有管理員代收，則以代收的隔日起算喔，請留意送件通知），為七日鑑賞期限。
          hr
      include ./shared/_footer.pug
    script(src="../js/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js")
    script(src="../js/search.js")
