<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="../css/index.css")
  body
    //包住整個html
    #wrapper
      header
        //置中header
        .header_container
          .row1
            .login
              a(href="#") 登入
              a(href="#") 註冊
          .row2
            .logo
            .nav_bar
              nav
                li
                  a(href="#") 首頁
                li
                  a(href="#") 商店
                li
                  a(href="#") 關於
                li
                  a(href="#") 聯絡我們
                li
                  a(href="#") 常見問題
          .row3
            .container_row3
              .slogan
                a 用自己的方式看見世界
                br
                a 記下你每一瞬間
              button.buy
                a(href="") 立即選購
      //header背景圖
      .banner
        img(src="../img/header.png").img_fluid
      .container
        .container_title
        .container_box
        //-   .box
        //-   .box
        //-   .box
      .container
        .container_title
        .container_box
          .wrapper_box
            .box
            .box
            .box
