<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document

    link(rel="stylesheet", href="../css/owl.carousel.min.css")
    link(rel="stylesheet", href="../css/owl.theme.default.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="../css/Semantic/semantic.min.css")
    link(rel="stylesheet", href="../css/aos.css")
    link(rel="stylesheet", href="../css/index.css")
  body
    //包住整個html
    #wrapper
      header
        //置中header
        .header_container
          .row1
            .login
              a(href="../html/join.html") 註冊
              a(href="../html/login.html") 登入
              a(href="#") 查訂單
              a(href="#").glyphicon.glyphicon-shopping-cart.cart_size
              form(action="search.jsp" method="POST" id="search-form")
                .ui.icon.input
                  input.prompt.prompt_size(type="text", name="search", placeholder="Search...")
                  i.circular.search.link.icon
          .row2
            .logo
            .nav_bar
              nav
                li
                  a(href="../html/index.html") 首頁
                li
                  a(href="../html/shop.html") 商店
                li
                  a(href="../html/about.html") 關於
                li
                  a(href="#") 聯絡我們
                li
                  a(href="../html/buy_qu.html") 常見問題
          .row3
            ._container_row3
              .slogan
                a(data-aos='fade-right') 用自己的方式看見世界
                br
                a(data-aos="fade-left") 記下你每一瞬間
              button.buy(data-aos="flip-left"  data-aos-delay="800")
                a(href="../html/shop.html") 即刻選購
      //header背景圖
      .banner
        .img_fluid.img_header
      //內容開始
      .content
        ._container.slogan_bubble
          .slogan(data-aos="flip-up" data-aos-duration="500")
            a 永遠都在你身邊
            a.subtitle 用照片的故事來陪伴在你的身邊
              span.bubble Hot
        .slider_container
          .owl-carousel.owl-theme
            img.item(src="../img/item/1.png")
            img.item(src="../img/item/2.png")
            img.item(src="../img/item/3.png")
            img.item(src="../img/item/4.png")
            img.item(src="../img/item/5.png")
            img.item(src="../img/item/6.png")
            img.item(src="../img/item/7.png")
            img.item(src="../img/item/8.png")
            img.item(src="../img/item/9.png")
            img.item(src="../img/item/10.png")
            img.item(src="../img/item/11.png")
            img.item(src="../img/item/12.png")

        #carousel-example-generic.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active
              img(src='../img/ad1.png', width='100%')
            .item
              img(src='../img/ad2.png', width='100%')
            .item
              img(src='../img/ad3.png', width='100%')
          // Controls
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next

      .content.content2_bgc.img_fluid
        ._container
          .slogan(data-aos="flip-up" data-aos-duration="500")
              a 用溫暖的手體會你的心
              a.subtitle Fotos用熱忱的雙手提供最真摯的服務貼近你的心
        ._container_box
          .box(data-aos="fade-up")
            .service_img.service1
            .service_title
              span 客製化服務
          .box2(data-aos="fade-up")
          .box(data-aos="fade-down")
            .service_img.service2
            .service_title
              span 即刻寄送
          .box2(data-aos="fade-up")
          .box(data-aos="fade-up")
            .service_img.service3
            .service_title
              span 電子明信片
      include ./shared/_footer.pug

    //- script(src="../js/vendors.js")
    script(src="../js/jquery-3.3.1.min.js")
    script(src="../js/owl.carousel.js")
    script(src="../js/slide.js")
    script(src="../js/aos.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")




