<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet", href="../css/Semantic/semantic.min.css")
    link(rel="stylesheet", href="../css/shop.css")

  body
    #wrapper
      include ./shared/_header.pug
      .banner_nav
        ._container_nav
          nav
            li
              a(href="#") ALL
            li
              a(href="#") 風景
            li
              a(href="#") 夜景
            li
              a(href="#") 黑白
            li
              a(href="#") 美食
      .content
        ._container_content
          .box
            .box_container
              .product_img
              .product_title
              .product_price
          .box
            .box_container
              .product_img
              .product_title
              .product_price
          .box
            .box_container
              .product_img
              .product_title
              .product_price
          .box
            .box_container
              .product_img
              .product_title
              .product_price
          .box
            .box_container
              .product_img
              .product_title
              .product_price
          .box
            .box_container
              .product_img
              .product_title
              .product_price
          .box
            .box_container
              .product_img
              .product_title
              .product_price
          .box
            .box_container
              .product_img
              .product_title
              .product_price
