<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="../css/Semantic/semantic.min.css")
    link(rel="stylesheet", href="../css/shop.css")

  body
    #wrapper
      include ./shared/_header.pug
      .banner_nav
        ._container_nav.filters
          nav.button-group.js-radio-button-group(data-filter-group="color")
            button.button.is-checked( data-filter="") 全部
            button.button(data-filter=".view") 風景
            button.button(data-filter=".viewnight") 夜景
            button.button(data-filter=".food") 美食
      .content
        ._container_content
          .box.view
            .box_container
              .product_img img
              .product_title title
              .product_price price
          .box.viewnight
            .box_container
              .product_img img
              .product_title title
              .product_price price
          .box.food
            .box_container
              .product_img img
              .product_title title
              .product_price price
          .box.view
            .box_container
              .product_img img
              .product_title title
              .product_price price
          .box.viewnight
            .box_container
              .product_img img
              .product_title title
              .product_price price
          .box.food
            .box_container
              .product_img img
              .product_title title
              .product_price price
          .box.view
            .box_container
              .product_img img
              .product_title title
              .product_price price
          .box.viewnight
            .box_container
              .product_img img
              .product_title title
              .product_price price
          .box.food
            .box_container
              .product_img img
              .product_title title
              .product_price price


    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="../js/isotope.pkgd.min.js")
    script(src="../js/shop.js")
