footer
  .footer_container
    .footer_logo
      a(href="../html/index.html")
        .logo
      span.visit_num 訪客人數： 2220 人
    .footer_info
      .info_box
        span.footer_title 網站地圖
        a(href="../html/index.html") 首頁
        a(href="../html/shop.html") 商店
        a(href="../html/about.html") 關於
        a(href="../html/contact.html") 聯絡我們
        a(href="../html/buy_qu.html") 常見問題
      .info_box
          span.footer_title  聯絡我們
          span
          span
          span
          span.footer_adder 地址：桃園市中壢區中北路200號
          span.footer_adder 電話：+886-3-265-9999
      .info_box.box_map
            span.footer_title 地圖
            .maps
              iframe(src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBdr2bAntGk98dXnpM08SQ82mqt52a5CJI&q=中原大學資管樓",  width="100%" height="100%" margin-left="2px" frameborder="0" allowfullscreen )
  .footer_copy_right
    span Copyright © 2018 Fotos Company. All rights reserved.
