header
  .header_container
    .row1
      .login
        a(href="#") 登入
        a(href="#") 註冊
    .row2
      .logo
      .nav_bar
        nav
          li
            a(href="#") 首頁
          li
            a(href="#") 商店
          li
            a(href="#") 關於
          li
            a(href="#") 聯絡我們
          li
            a(href="#") 常見問題
